@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Pale-blue);
}
:root {
    --Light-red: hsla(0, 100%, 67%, 0.15);
    --Orangey-yellow: hsla(39, 100%, 56%, 0.15);
    --Green-teal: hsla(166, 100%, 37%, 0.15);
    --Cobalt-blue: hsla(234, 100%, 45%, 0.15);

    --Light-red-text: hsla(0, 100%, 67%, 1);
    --Orangey-yellow-text: hsla(39, 100%, 56%, 1);
    --Green-teal2-text: hsla(166, 100%, 37%, 1);
    --Cobalt-blue2-text: hsla(234, 85%, 45%, 1);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue-: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}

.attribution { 
    font-size: 20px; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Summary table stilization*/
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px 30px -5px var(--Light-lavender);
    background-color: var(--White);
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 426px;
    width: 316px;
}

#summary {
    left: 24%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: center;
    height: 426px;
    width: 312px;
    background-color: var(--White);
    border-radius: 20px; 
}

#summary ol {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 42px;
    margin: 42px;
    list-style-type: none;
}

#title {
    color: var(--Dark-gray-blue);
    text-align: left;
    font-weight: 800;
    font-size: 20px;
}

#summary ol li {
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#summary ol li:nth-child(2) {
    background-color: var(--Light-red);
    height: 45px;
    width: 205px;
    border-radius: 8px;
}

#summary ol li:nth-child(3) {
    background-color: var(--Orangey-yellow);
    height: 45px;
    width: 205px;
    border-radius: 8px;
}

#summary ol li:nth-child(4) {
    background-color: var(--Green-teal);
    height: 45px;
    width: 205px;
    border-radius: 8px;
}

#summary ol li:nth-child(5) {
    background-color: var(--Cobalt-blue);
    height: 45px;
    width: 205px;
    border-radius: 8px;
}

#summary ol li:nth-child(2) img{
    margin-right: 10px;
    margin-left: 10px;
}

#summary ol li:nth-child(3) img{
    margin-right: 10px;
    margin-left: 10px;
}

#summary ol li:nth-child(4) img{
    margin-right: 10px;
    margin-left: 10px;
}

#summary ol li:nth-child(5) img{
    margin-right: 10px;
    margin-left: 10px;
}

.category {
    width: 105px;
    text-align: left;
}

.result {
    display: flex;
    font-size: 15px;
}

.score {
    display: flex;
    margin-right: 10px;
}

.final {
    font-weight: 800;
}

.max {
    color: var(--Light-lavender);
    font-weight: 800;
}


#reaction {
    font-weight: 800;
    color: hsla(0, 100%, 67%, 1);
}

#memory {
    font-weight: 800;
    color: hsla(39, 100%, 56%, 1);
}

#verbal {
    font-weight: 800;
    color: hsla(166, 100%, 37%, 1);
}

#visual {
    font-weight: 800;
    color: hsla(234, 85%, 45%, 1);
}

#button{
    margin-top: 10px;
    height: 45px;
    width: 205px;
    border-radius: 20px;
    background-color: var(--Dark-gray-blue);
    font-weight: 800;
    color: var(--White);
    border: none;
}

/*Results table stilization*/
#results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
}

#stat {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 80px 80px;
    background: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    color: var(--White);
}

#stat p {
    margin: 0;
}

#stat p:first-child {
    font-size: 50px;
    font-weight: 800;
}

#stat p:nth-child(2) {
    color: var(--Light-lavender);
    font-weight: 600;
}

#results:first-child {
    color: var(--Light-lavender);
    font-weight: 600;
}

#results p:nth-child(3) {
    color: var(--White);
    font-size: 30px;
}

#results p:nth-child(4) {
    text-align: center;
}